
<div class="container">

  <form class="form">
    <label for="First">First Name:</label>
    <input type="text" name="first">
    <label for="last">Last Name:</label>
    <input type="text" name="last">
  </form>
    <form class="form">
      <label for="">Select Bank:</label>
      <select id="banks" #source>
      <option value="BOFA">Bank of America</option>
      <option value="wellsfargo">Wells Fargo</option>
      <option value="bancorp">U.S. Bancorp</option>
      <option value="wellsfargo">Umpqua Bank</option>
      <option value="chase">JPMorgan Chase</option>

</select>
    </form>
</div>
